/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.window {
  position: relative;
  height: max-content;
  width: max-content;
  /*display: inline-block;*/
}

.tab-window {
  vertical-align:top;
  display: inline-block;
  padding: 0 5px 5px 5px;
  border-radius: 7px;
  background-color: rgba(71, 73, 75, 0.9);
  margin: 1px;
}

.tab-title {
  text-align: center;
  display: block;
  color: wheat;
}


.tab-body {
  background: #ebe8e8;
  height: 100%;
  border-radius: 7px;
  padding: 3px;
}
